.container{
    display: grid;
    grid-template-columns: 48% 52%;
}
.chip{
    grid-column: 1;
    margin-top: 5px;
}
.user{
    grid-row: 2;
    grid-column: 1;
}

.download{
    grid-column: 1;
    grid-row:3;
    float: right;
    width:20px;
 }

 .media{
    grid-row: 2;
    grid-column: 1;
    width:100%;
 }