.chatBox{
    display: flex;
    flex-direction: column;
    height: 500px;
    border-radius: 15px !important;
}


.input{
    align-items: flex-end;
}
.sent{
    display: flex;
    justify-content: flex-end;
}
.received{
    display: flex;
    justify-content: flex-start;
}
.message{
    width: 40%;
}